<%- layout('layouts/main')%>
<form action="/signup" method="POST">
  <input type="username" name="username" placeholder="username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">
    SignUp
  </button>
</form>

