<%- layout('layouts/main') %>

<form action="/signin" method="POST">
  <input type="username" name="username" placeholder="username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">
    SignIn
  </button>
</form>
